html{font-size:60%;}
@media(min-width:60em){html{font-size: 100%}}
body {
  width: 100%;
  height:auto;
  font-family: helvetica;
}

#container {
 margin-right: auto; /* 1 */
 margin-left:  auto; /* 1 */

 max-width: 1300px; /* 2 */
 width:100%

 padding-right: 10px; /* 3 */
 padding-left:  10px; /* 3 */

}

#navBar{
  width:100%;
  margin:auto;
  font-size: 20px;
}

#navBarLeft{
  float: left;
  display: inline-block;
  text-decoration: none;
  width: 33.3%;

}
#logo{
  text-align: center;
  display: inline-block;
  margin-top: 25px;
  width: 33.3%;
}

#navBarRight{
  float: right;
  display: inline-block;
  width: 33.3%;
}

li {
  margin-right: 10px;
  display: inline-block;
  font-family: helvetica;
  margin-top: 25px;


}

li a {
  color: gray;
  text-decoration: none;
  width:25%;
  font-size:100%;

}
/* unvisited link */
a:link {
    color: gray;
}


/* mouse over link */
a:hover {
    color: #202020;
}

/* selected link */
a:active {
    color: #202020;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 40px;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #202020;
  font-weight: bold;
  font-size: 14px;
  font-family:helvetica;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  margin-bottom: 5px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.recentWork{
  text-align: center;
  margin-top: 80px;
  color: #202020;
}
.aboutMe{
  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin: 80px auto auto auto;
}
#aboutPicture{
  float:left;
  display: inline-block;
}

#aboutWords{

  font-size: 130%;
  margin-left: 20px;;

}


.contactForm{

  margin: 180px auto auto auto;
  max-width: 1000px;
  width:100%;
}

#contactMe{
  text-align:center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
